.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.job-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline {
  display: flex;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
